.all-orders-container {
    padding: 20px;
  }
  
  .orders-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .order-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px); /* 3 cards per row with margin */
    box-sizing: border-box;
  }
  
  .order-details {
    margin-bottom: 10px;
  }
  
  .order-actions button {
    margin-right: 5px;
  }
  
  .order-actions {
    margin-top: 10px;
  }
  
  /* Mobile View */
  @media screen and (max-width: 600px) {
    .order-card {
      width: 100%; /* Full width for mobile view */
    }
  }
  

  /* Custom CSS for Modal Styling */
.modal-content {
  background-color: #f8f9fa; /* Set your desired background color */
  color: #212529; /* Set text color */
}

.modal-header {
  background-color: #007bff; /* Set header background color */
  color: #fff; /* Set header text color */
}

.modal-footer {
  background-color: #f8f9fa; /* Set footer background color */
}

/* Change the color of the close button */
.modal-header button.close {
  color: #fff;
}

/* Responsive styling for smaller screens */
@media (max-width: 576px) {
  .modal {
    margin: 0;
  }
}