/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f4f4;
  color: rgb(57, 117, 196);
}

.title {
font-size: 25px;
font-weight: 2px;
transition: 0.5s;
font-weight: bold;
}
.cart-icon {
  position: relative;
  display: inline-block;
  margin-left: 10px; /* Adjust the margin as needed */
  padding-right: 20px;
}

.cart-icon svg {
  font-size: 30px; /* Adjust the font size for the cart icon */
}

.cart-icon span.cart-count {
  position: absolute;
  top: -8px; /* Adjust the top position as needed */
  right: 8px; /* Adjust the right position as needed */
  background-color: red; /* Add your desired background color */
  color: white; /* Set text color */
  border-radius: 50%; /* Make it a circle */
  padding: 4px 8px; /* Adjust padding as needed */
  font-size: 12px; /* Adjust font size as needed */
  font-weight: bold;
}

.login {
  padding: 8px 12px;
  font-size: 14px;
  background-color: white; /* White background */
  color: #3498db; /* Blue text color */
  border: 1px solid #3498db; /* Blue border */
  border-radius: 4px;
  cursor: pointer;
  margin-left: 30px;

}

.button {

  padding: auto;
  margin: auto;
}

/* Mobile view styles */
@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .cart-icon {
    margin-top: 10px; /* Adjust the margin for spacing between title and cart icon */
  }
}
